<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carolineho.escape">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Room0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Room1" />
        <activity android:name=".Room2" />
        <activity android:name=".Room3" />
        <activity android:name=".Room4" />
        <activity android:name=".Room5" />
        <activity android:name=".Room6" />
        <activity android:name=".Room7"></activity>
    </application>

</manifest>